/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  /* background: #151616; */
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* :root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Top Navigation Bar */

.navbar {
  background-color: #F3F3F3;
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
  /* height: var(--nav-size);
  border-bottom: var(--border); */
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: rgb(47, 43, 43);
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}


.site-title {
  text-decoration: none;
  margin: 0;
}

.search {
  align-self: center;
}

.navbar-nav-left {
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-self: end;
}

.navbar-nav-right {
  width: 40%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-self: end;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 20%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

/* DROPDOWN */

.header-element {
  display: flex;
  flex-direction: row;
  padding: 0 45px 0 30px;
}

#dropdown-container {
  position: relative;
  display: inline-block;
  height: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(252, 252, 252);
  min-width: 160px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 7px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: green;
}

#dropdown-container:hover .dropdown-content {
  display: block;
}


/* .dropdown {
  position: absolute;
  top: 58px;
  height: 200px;
  width: 300px;
  transform: translateX(45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: auto;
  transition: height var(--speed) ease;
} */

/* .dropdown {
  position: relative;
  width: 400px;
  margin: 100px auto;
  margin-top: 10px;
 margin-right: 10px;
} */

/* .dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: 0.75 rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
} */

/* .dropdown.active>.link+.dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */

/* .dropdown-item:hover {
  cursor: pointer;
} */

/* .dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .25rem;
} */

/* .dropdown .dropdown-btn {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  padding: 15px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
} */


/* .menu {
  width: 100%;
} */

/* .menu-item {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
} */

/* .menu-item .icon-button {
  margin-right: 0.5rem;
} */

/* .menu-item .icon-button:hover {
  filter: none;
} */

/* .menu-item:hover {
  background-color: #525357;
} */


/* LoginPage */

.login-container {
  display: flex;
  justify-content: center;
  border: 1px solid #474a4d;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 6rem;
  padding-bottom: 2rem;
}

/* ProfilePage */

.profile-page-container {
  /* display: flex; */
  z-index: -3;
  position: relative;
  /* justify-content: center; */
  border: 1px solid #474a4d;
  /* margin-left: 5px;
  margin-right: 5px;
  margin-top: 6rem;
  padding-bottom: 2rem; */
}

.account-wishlist-container {
  /* position: absolute; */
  display: grid;
  justify-content: center;
  border: 1px solid #474a4d;
  /* margin-left: 15px;
  margin-right: 15px; */
}

/* ResultCard */

.wishlist-cart-container {
  display: grid;
}

/* .wishlist-cart-container button{
  grid-column: 1;
  grid-row: 1;
} */

/* HOMEPAGE */


/* SearchBar */

.search-container {
  margin: 50px auto;
  width: 500px;
  height: 60px
}

.search-form {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

/* Carousel */

.slide img {
  width: 15rem;
  height: 25rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow h1 {
  transition: color 300ms;
}

.arrow h1:hover {
  color: green;
}

.next {
  right: 0%;
  top: 50%;
}

.previous {
  left: 0%;
  top: 50%;
}